body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://cutewallpaper.org/22/brown-aesthetic-desktop-wallpapers/235043190.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    background-color: gray;
    border-radius: 20px;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }

  .erro {
    color:red;
    background-color: #C0C0C0;
    border-radius: 40px;
    border: solid whitesmoke;
    padding: 10px;
    margin: auto;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 250px;
    max-width: 180px;
    border-radius: 20px;
  }
  
  .form-wrapper {
    margin: 0 0 15px;
  }
  
  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  
  .form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #da1e26;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;  /* o mouse aponta quando coloca em cima */
    transition: 0.3s;
  }
  
  .form-wrapper button:hover {
    opacity: 0.8;
  }